@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar but allow scrolling */
html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
